{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block body %}
    <a class="btn btn-xs btn-default" href="{{ path('tournament_index') }}"><i class="fa fa-arrow-left"></i> Zur Turnierübersicht</a>
    <h1>Neues Turnier</h1>

    {{ include('tournament/_form.html.twig') }}
{% endblock %}
{% block customjs %}
<script>
    $('tournament_begin').datepicker({
        dateFormat: 'dd.mm.yyyy',
        monthNames: ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"],
        dayNamesMin: ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"],
        defaultDate: "{{ "now"|date("dd.mm.yyyy") }}"
    });
</script>
{% endblock %}