<form method="post" action="{{ path('info_mail_delete', {'id': info_mail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_mail.id) }}">
    <button class="btn btn-xs btn-danger pull-right"><i class="fa fa-trash"></i> Löschen</button>
</form>
