{% extends 'base.html.twig' %}

{% block title %}Mitteilung bearbeiten{% endblock %}

{% block body %}
    <div class="row">
        {{ include('info_mail/_delete_form.html.twig') }}
        <a class="btn btn-xs btn-default" href="{{ path('info_mail_index') }}"><i class="fa fa-arrow-left"></i> Zurück</a>
    </div>
    <h1>{{ info_mail.topic }} bearbeiten</h1>

    {{ include('info_mail/_form.html.twig', {'button_label': 'Speichern'}) }}
{% endblock %}
{% block customjs %}
    <script>
        $(document).ready(function () {
            $('#info_mail_content').summernote();
        })
    </script>
{% endblock %}